[Match]
Name=wlan0

[Network]
# Static IP configuration for 192.168.86.x network (WiFi)
# Raspberry Pi will always be at 192.168.86.100
Address=192.168.86.100/24
Gateway=192.168.86.1
DNS=8.8.8.8
DNS=8.8.4.4
DHCP=no

[Link]
RequiredForOnline=yes
